#blog-list {
    margin-top: 100px;
    min-height: 20vh;
    .flexbox {
        .item {
            display: flex;
            .item__image {
                margin: 10px 10px 25px 10px;
                border-radius: 8px;
                overflow: hidden;
                min-width: 25%;
                height: auto;
                img {
                    width: 100%;
                    height: auto;
                    display: inline-block;
                    transition: all 300ms;
                }
            }
            .item__text-content {
                .item__title {
                    h4 {
                        font-size: 24px;
                        letter-spacing: 1px;
                        font-weight: 600;
                        a {
                            margin: 10px;
                            color: $dark_color_3;
                            &:hover {
                                color: $primary_color;
                            }
                        }
                    }
                }
                .item__discription {
                    margin: 10px;
                    p {
                        color: $dark_color_2;
                    }
                }
            }
            &:hover {
                .item__image {
                    img {
                        transform: scale(1.1) rotate(1deg);
                    }
                }
            }
        }
    }
}
