
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# python caches
__pycache__/
*.py[cod]
*$py.class
*.pyc

# css 
*.css.map
.sass-cache

# static files
*.mp4

# media files
media/

db.sqlite3

# server side 
stderr.log
passenger_wsgi.py
tem/