$primary_color: #155bd5;
$primary_dark_color: #1c3ab6;
$white_color: #ffffff;
$white_color_2: #fafafa;
$white_color_3: #efefef;
$dark_color: #2d2d2d;
$dark_color_2: #6d6d6d;
$dark_color_3: #1d1d1d;
$dark_color_4: #d7d7d7;
$black_1: #000000;

$font-family: 'Inter', sans-serif;
