#blog-list {
  margin-top: 100px;
  min-height: 20vh;
}
#blog-list .item {
  margin-bottom: 15px;
  display: flex;
}
#blog-list .item .item__image {
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  max-width: 25%;
  min-width: 25%;
  max-height: 250px;
}
#blog-list .item .item__image img {
  width: 100%;
  height: auto;
  display: inline-block;
  transition: all 300ms;
}
#blog-list .item .item__text-content .item__title h4 {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 600;
}
#blog-list .item .item__text-content .item__title h4 a {
  margin: 10px;
  color: #1d1d1d;
}
#blog-list .item .item__text-content .item__title h4 a:hover {
  color: #155bd5;
}
#blog-list .item .item__text-content .item__discription {
  margin: 10px;
}
#blog-list .item .item__text-content .item__discription p {
  color: #6d6d6d;
}
#blog-list .item:hover .item__image img {
  transform: scale(1.1) rotate(1deg);
}
#blog-list .pagination {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
#blog-list .pagination ul li {
  margin: 1px;
}
#blog-list .pagination ul li a, #blog-list .pagination ul li span {
  border-radius: 3px;
  padding: 8px 13px;
  color: #6d6d6d;
  transition: all 0.3s ease;
  font-size: 17px;
}
#blog-list .pagination ul li a:hover, #blog-list .pagination ul li span:hover {
  background-color: #155bd5;
  color: #ffffff;
}

#blog-detail {
  margin-top: 100px;
  min-height: 20vh;
}
#blog-detail .flexbox {
  display: flex;
  justify-content: center;
}
#blog-detail .flexbox .article {
  max-width: 668px;
  margin: 10px;
}
#blog-detail .flexbox .article img {
  border-radius: 8px;
  width: 100%;
  max-width: 668px;
  height: auto;
  margin: 15px auto;
}
#blog-detail .flexbox .article a {
  color: #155bd5;
  display: inline-block;
}
#blog-detail .flexbox .article .article__title h4 {
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #1d1d1d;
  margin-bottom: 25px;
}
#blog-detail .flexbox .article .article__discription {
  color: #6d6d6d;
  line-height: 1.6;
  font-size: 17px;
}
#blog-detail .flexbox .article .article__body {
  color: #6d6d6d;
  line-height: 1.6;
  font-size: 17px;
}
#blog-detail .flexbox .article .article__body pre {
  border-radius: 8px;
  margin: 10px 0;
  padding: 15px;
  background-color: #d7d7d7;
}
