$primary_color: #155bd5;
$primary_dark_color: #1c3ab6;
$white_color: #ffffff;
$white_color_2: #fafafa;
$white_color_3: #efefef;
$white_color_4: #d7d7d7;
$dark_color: #2d2d2d;
$dark_color_2: #6d6d6d;
$dark_color_3: #1d1d1d;
$dark_color_4: #e0e0e0;
$black_1: #000000;

$font-family: 'Inter', sans-serif;

$box-shadow-1: 0px 2px 4px rgba(40, 41, 61, 0.04),
               0px 8px 16px rgba(96, 97, 112, 0.16);

$box-shadow-2: 0px 0px 1px rgba(40, 41, 61, 0.04),
               0px 2px 4px rgba(96, 97, 112, 0.16);


// sizes for responsive
$very_large_size : 1200px;
$large_size : 992px;
$medium_size : 768px;
$small_size : 597px;
