#blog-detail {
    margin-top: 100px;
    min-height: 20vh;
    .flexbox {
        display: flex;
        justify-content: center;
        .article {
            max-width: 668px;
            margin: 10px;
            img {
                border-radius: 8px;
                width: 100%;
                max-width: 668px;
                height: auto;
                margin: 15px auto;
            }
            a {
                color: $primary_color;
                display: inline-block;
            }
            .article__title {
                h4 {
                    font-size: 28px;
                    letter-spacing: 1px;
                    font-weight: 600;
                    color: $dark_color_3;
                    margin-bottom: 25px;
                }
            }
            .article__discription {
                color: $dark_color_2;
                line-height: 1.6;
                font-size: 17px;
            }
            .article__body {
                color: $dark_color_2;
                line-height: 1.6;
                font-size: 17px;
                pre {
                    border-radius: 8px;
                    margin: 10px 0;
                    padding: 15px;
                    background-color: $white_color_4;
                }
            }
        }
    }
}