@import "../mixin";

#header {
    background: $primary_color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    .flexbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            margin-top: 14px;
            margin-bottom: 11px;
            max-width: 200px;
            @include medium_responsive {

            }
            a {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .menu {
            margin-right: 180px;
            @include very_large_responsive {
                margin-right: 100px;
            }
            a {
                cursor: pointer;
                color: $white_color;
                opacity: 0.7;
                padding: 20px 15px;
                margin: 15px 0;
                &.active {
                    opacity: 1;
                }
            }
            @include large_responsive {
                display: none;
            }
        }
        .navbar-btn i {
            padding: 10px;
            border: 0.5px solid $white_color;
            color: $white_color;
            border-radius: 50%;
            font-size: 19px;
            @include large_responsive {
                font-size: 23px;
                margin-right: 5px;
            }
            @include medium_responsive {
                font-size: 25px;
                margin-right: 10px;
            }
            &:hover {
                background: $white_color;
                color: $primary_color;
            }
        }

    }
}