#to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: $primary_color;
    padding: 10px;
    border-radius: 5px;
    z-index: 3;
    &:hover {
        background: $dark_color;
        bottom: 40px;
        transition: all 0.4s ease-out;
    }
}
