@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1120px;
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 93%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 95%;
  }
}
@media only screen and (max-width: 597px) {
  .container {
    max-width: 98%;
  }
}

.container-fluid {
  margin: 0 auto;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.title {
  display: inline-block;
  text-align: center;
  max-width: 550px;
}
.title h6 {
  border: 2px solid #155bd5;
  border-radius: 30px;
  display: inline-block;
  padding: 12px 30px;
  font-weight: 600;
  color: #155bd5;
  margin-bottom: 15px;
  font-size: 16px;
}
.title h2 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 2em;
  color: #1d1d1d;
}
.title p {
  color: #6d6d6d;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 50px;
}

#header {
  background: #155bd5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
#header .flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .flexbox .logo {
  margin-top: 14px;
  margin-bottom: 11px;
  max-width: 200px;
}
#header .flexbox .logo a img {
  width: 100%;
  height: auto;
}
#header .flexbox .menu {
  margin-right: 180px;
}
@media only screen and (max-width: 1200px) {
  #header .flexbox .menu {
    margin-right: 100px;
  }
}
#header .flexbox .menu a {
  cursor: pointer;
  color: #ffffff;
  opacity: 0.7;
  padding: 20px 15px;
  margin: 15px 0;
}
#header .flexbox .menu a.active {
  opacity: 1;
}
@media only screen and (max-width: 992px) {
  #header .flexbox .menu {
    display: none;
  }
}
#header .flexbox .navbar-btn i {
  padding: 10px;
  border: 0.5px solid #ffffff;
  color: #ffffff;
  border-radius: 50%;
  font-size: 19px;
}
@media only screen and (max-width: 992px) {
  #header .flexbox .navbar-btn i {
    font-size: 23px;
    margin-right: 5px;
  }
}
@media only screen and (max-width: 768px) {
  #header .flexbox .navbar-btn i {
    font-size: 25px;
    margin-right: 10px;
  }
}
#header .flexbox .navbar-btn i:hover {
  background: #ffffff;
  color: #155bd5;
}

#slide {
  position: fixed;
  top: 0;
  right: 0;
  width: 345px;
  height: 100%;
  background: #ffffff;
  z-index: 3;
  padding: 30px;
  transition: all 1s ease;
}
@media only screen and (max-width: 992px) {
  #slide {
    overflow-x: scroll;
  }
}
#slide .close-button {
  float: right;
}
#slide .close-button:hover {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
#slide .logo {
  margin-top: 60px;
  margin-bottom: 20px;
  max-width: 200px;
}
#slide .logo a img {
  width: 100%;
  height: auto;
}
#slide .description {
  color: #6d6d6d;
  margin-bottom: 20px;
  line-height: 1.4;
}
#slide .quick-links {
  display: none;
  margin-bottom: 15px;
}
@media only screen and (max-width: 992px) {
  #slide .quick-links {
    display: block;
  }
}
#slide .quick-links ul li {
  display: block;
}
#slide .quick-links ul li a {
  display: block;
  color: #6d6d6d;
  padding: 10px 0;
  transition: all 0.4s ease;
  font-weight: 400;
  font-size: 18px;
}
#slide .quick-links ul li a:hover {
  color: #155bd5;
  transform: translateX(5px);
}
#slide .social-links {
  font-weight: 400;
}
#slide .social-links h3 {
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 30px;
}
#slide .social-links a {
  display: inline;
}
#slide .social-links a i {
  color: #6d6d6d;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.4s ease;
}
#slide .social-links a i:hover {
  background: #155bd5;
  color: #ffffff;
}

#slide.toggling {
  width: 0px;
  padding: 0;
}
#slide.toggling .close-button {
  display: none;
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 2;
  display: none;
}

#overlay.open {
  display: block;
}

#to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #155bd5;
  padding: 11px 11px 8px 11px;
  border-radius: 5px;
  z-index: 2;
  display: none;
  transition: all 500ms;
}
#to-top:hover {
  background: #2d2d2d;
  bottom: 35px;
}
#to-top.show {
  display: block;
}

#footer {
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 16px;
  background: #fafafa;
}
#footer .flexbox {
  display: flex;
  gap: 1.5rem;
}
@media only screen and (max-width: 992px) {
  #footer .flexbox {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
#footer .flexbox div {
  padding: 0 0.75rem 0 0.75rem;
  color: #6d6d6d;
  line-height: 1.5;
}
@media only screen and (max-width: 768px) {
  #footer .flexbox div {
    text-align: center;
  }
}
#footer .flexbox div h5, #footer .flexbox div .logo {
  font-weight: 700;
  font-size: 1.25em;
  margin-bottom: 35px;
  color: #1d1d1d;
}
#footer .flexbox li:hover {
  color: #155bd5;
}
#footer .flexbox .copy-write {
  width: 380px;
}
@media only screen and (max-width: 992px) {
  #footer .flexbox .copy-write {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  #footer .flexbox .copy-write {
    width: 100%;
  }
}
#footer .flexbox .copy-write .logo {
  max-width: 250px;
}
#footer .flexbox .copy-write .logo a img {
  width: 100%;
  height: auto;
}
#footer .flexbox .copy-write .copyright-text span {
  color: #1c3ab6;
}
#footer .flexbox .services {
  width: 190px;
  line-height: 2;
}
@media only screen and (max-width: 992px) {
  #footer .flexbox .services {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  #footer .flexbox .services {
    width: 100%;
  }
}
#footer .flexbox .services li {
  display: list-item;
}
#footer .flexbox .social-medias {
  width: 190px;
  line-height: 2;
}
@media only screen and (max-width: 992px) {
  #footer .flexbox .social-medias {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  #footer .flexbox .social-medias {
    width: 100%;
  }
}
#footer .flexbox .social-medias ul li {
  display: block;
}
#footer .flexbox .social-medias ul li a {
  color: inherit;
}
#footer .flexbox .subscribe {
  width: 380px;
}
@media only screen and (max-width: 992px) {
  #footer .flexbox .subscribe {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  #footer .flexbox .subscribe {
    width: 100%;
  }
}
#footer .flexbox .subscribe .subscribe-form {
  position: relative;
  margin-top: 30px;
}
#footer .flexbox .subscribe .subscribe-form input {
  height: 55px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  box-shadow: none;
  text-shadow: none;
  padding-left: 18px;
  padding-right: 65px;
  transition: all 0.4s ease;
}
#footer .flexbox .subscribe .subscribe-form input:focus, #footer .flexbox .subscribe .subscribe-form input:focus-visible {
  outline: none;
  border-color: #155bd5;
}
#footer .flexbox .subscribe .subscribe-form .button {
  position: absolute;
  right: -7px;
  top: 49%;
  transform: translateY(-49%);
}
#footer .flexbox .subscribe .subscribe-form .button button {
  height: 44px;
  width: 44px;
  border-radius: 6px;
  background-color: #155bd5;
  color: #ffffff;
  text-align: center;
  line-height: 44px;
  border: none;
  font-size: 19px;
  transition: all 0.4s ease;
}
#footer .flexbox .subscribe .subscribe-form .button button:hover {
  background-color: #2d2d2d;
  cursor: pointer;
}
