body {
  background: #1d1d1d;
  color: #d7d7d7;
  font-family: "Courier new";
  font-size: 18px;
  line-height: 1.5em;
  cursor: default;
}

#not-found a {
  color: #ffffff;
}
#not-found .code-area {
  position: absolute;
  width: 597px;
  min-width: 597px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#not-found .code-area > span {
  display: block;
}
@media only screen and (max-width: 597px) {
  #not-found .code-area {
    font-size: 5vw;
    min-width: auto;
    width: 95%;
    margin: auto;
    padding: 5px;
    padding-left: 10px;
    line-height: 6.5vw;
  }
}
