{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<style>
    .pagination span {
        width: 15px;
        border-radius: 8px;
        height: 6px;
        background-color: #155bd5;
    }

    .pagination .span {
        background-color: #1c3ab6;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #666666;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
</style>

{% endblock %}

{% block main %}
<div id="hero">
    <div class="container">
        <div class="flexbox">
            <div class="text">
                <h1>{{ hero.header }}</h1>
                <p>{{ hero.text }}</p>
                <div class="buttons">
                    <a class="btn" type="bottun" onclick="scrollToElement('contact')">get started</a>
                    <a class="play" onclick="scrollToElement('video-area');playVideo();">
                        <span><i class="lni lni-play"></i></span>
                        <span>watch intro</span>
                    </a>
                </div>
            </div>
            <div class="image">
                <img src="{{ hero.thumbnail.url }}" alt="hero image" />
            </div>
        </div>
    </div>
</div>
<div id="about-area">
    <div class="container">
        <div class="flexbox">
            <div class="image">
                <img src="{% static 'image/about.jpg' %}" alt="about us" />
            </div>
            <div class="text-area">
                <h6>MY STORY</h6>
                <h2>Our team comes with the experience and knowledge</h2>
                <div class="about-tabs">
                    <div class="nav">
                        <div class="nav-tabs">
                            <a type="button" class="nav-btn active" onclick="showTab(event, 'nav-who')">who I am</a>
                            <a type="button" class="nav-btn" onclick="showTab(event, 'nav-vision')">my vision</a>
                            <a type="button" class="nav-btn" onclick="showTab(event, 'nav-history')">my history</a>
                        </div>
                    </div>
                    <div class="paragraph about-tabs__content" id="nav-who">
                        <p>Text 1 It is a long established fact that a reader will be distracted by the readable content
                            of
                            a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, look like readable English.</p>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have in
                            some form, by injected humour.</p>
                    </div>
                    <div class="paragraph about-tabs__content" id="nav-vision">
                        <p>Text 2 It is a long established fact that a reader will be distracted by the readable content
                            of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, look like readable English.</p>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have in some
                            form, by injected humour.</p>
                    </div>
                    <div class="paragraph about-tabs__content" id="nav-history">
                        <p>Text 3 It is a long established fact that a reader will be distracted by the readable content
                            of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, look like readable English.</p>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have in some
                            form, by injected humour.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="services">
    <div class="container">
        <div class="flexbox">
            <div class="title">
                <h6>Services</h6>
                <h2>Our Best Services</h2>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form.
                </p>
            </div>
            <div class="services-card">
                {% for item in services %}
                <div class="card">
                    <div class="icone">
                        <i class="{{ item.icone }}"></i>
                    </div>
                    <div class="content">
                        <h4>{{ item.title }}</h4>
                        <p>{{ item.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% comment "responsive this section" %}{% endcomment %}
<div id="video-area">
    <div class="container">
        <div class="flexbox">
            <div class="title">
                <h6>Our Intro Video</h6>
                <h2>Watch Our Promo Video</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form.</p>
            </div>
            <div class="video">
                <video id="video-style" poster="{{ video.thumbnail.url  }}">
                    <source src="{{ video.video.url }}" type="video/mp4">
                </video>
                <div class="play-btn" onclick="playVideo()">
                    <i class="lni lni-play"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="portfolio">
    <div class="container">
        <div class="flexbox">
            <div class="title">
                <h6>Our Portfolio</h6>
                <h2>Our Recent Works</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form.</p>
            </div>
            <div class="content">
                <div class="row">
                    <button class="active">all work</button>
                    <button>branding</button>
                    <button>marketing</button>
                    <button>planing</button>
                    <button>research</button>
                </div>
                <div class="card-area">
                    <div class="card">
                        <img src="{% static 'image/pf1.jpg' %}" alt="card" />
                        <div class="withe-board">
                            <div class="portfolio-icone">
                                <div class="zoom">
                                    <i class="lni lni-zoom-in"></i>
                                </div>
                                <div class="copy-link">
                                    <i class="lni lni-link"></i>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">Graphics Design</a></h4>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>
                    <div class="card">
                        <img src="{% static 'image/pf2.jpg' %}" alt="card" />
                        <div class="withe-board">
                            <div class="portfolio-icone">
                                <div class="zoom">
                                    <i class="lni lni-zoom-in"></i>
                                </div>
                                <div class="copy-link">
                                    <i class="lni lni-link"></i>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">web development</a></h4>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>
                    <div class="card">
                        <img src="{% static 'image/pf3.jpg' %}" alt="card" />
                        <div class="withe-board">
                            <div class="portfolio-icone">
                                <div class="zoom">
                                    <i class="lni lni-zoom-in"></i>
                                </div>
                                <div class="copy-link">
                                    <i class="lni lni-link"></i>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">App Development</a></h4>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>
                    <div class="card">
                        <img src="{% static 'image/pf4.jpg' %}" alt="card" />
                        <div class="withe-board">
                            <div class="portfolio-icone">
                                <div class="zoom">
                                    <i class="lni lni-zoom-in"></i>
                                </div>
                                <div class="copy-link">
                                    <i class="lni lni-link"></i>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">Digital Marketing</a></h4>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>
                    <div class="card">
                        <img src="{% static 'image/pf5.jpg' %}" alt="card" />
                        <div class="withe-board">
                            <div class="portfolio-icone">
                                <div class="zoom">
                                    <i class="lni lni-zoom-in"></i>
                                </div>
                                <div class="copy-link">
                                    <i class="lni lni-link"></i>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">SEO Services</a></h4>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>
                    <div class="card">
                        <img src="{% static 'image/pf6.jpg' %}" alt="card" />
                        <div class="withe-board">
                            <div class="portfolio-icone">
                                <div class="zoom">
                                    <i class="lni lni-zoom-in"></i>
                                </div>
                                <div class="copy-link">
                                    <i class="lni lni-link"></i>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">Product Design</a></h4>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="testimonials">
    <div class="container">
        <div class="title">
            <h6>Customer Reviews</h6>
            <h2>Our Testimonials</h2>
            <p>TThere are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form.</p>
        </div>
        <div class="testimonials-container">
            <div class="progress-bar"></div>
            <div class="fa fa-quote-right fa-quote"></div>
            <div class="fa fa-quote-left fa-quote"></div>
            <p class="testimonial">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam autem, velit quam magni nihil blanditiis earum quos voluptatem beatae quasi. Quas sit libero commodi aliquid! Harum aliquam fugiat perferendis adipisci.</p>
            <div class="person-items">
                <img class="logo" src="https://randomuser.me/api/portraits/men/43.jpg" alt="logo" />
                <div class="user-details">
                    <h4 class="username">Jonathan Nunfiez</h4>
                    <p class="role">Graphic Designer</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="call-to-action">
    <div class="container-fluid">
        <div class="call-to-action__title">
            <h2>We love to make perfect solutions<br /> for your business</h2>
        </div>
        <div class="call-to-action__subtitle">
            <p>Why I say old chap that is, spiffing off his nut cor blimey guvnords geeza
                bloke knees up bobby, sloshed arse William cack Richard. Bloke fanny around chesed of bum bag old
                lost
                the pilot say there spiffing off his nut.
            </p>
        </div>
        <div class="call-to-action__button">
            <a href="#" type="button">get started</a>
        </div>
    </div>
</div>
<div id="blog">
    <div class="container">
        <div class="flexbox">
            <div class="title">
                <h6>latest article</h6>
                <h2>Latest Blog</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form.</p>
            </div>
            <div class="post">
                {% for item in articles %}
                <div class="post-item">
                    <div class="post-item__image">
                        <img src="{{ item.thumbnail.url }}" alt="blog 1" />
                    </div>
                    <div class="post-item__title">
                        <h4>
                            <a href="{% url 'blog:detail-view' item.id %}">{{ item.title }}</a>
                        </h4>
                    </div>
                    <div class="post-item__description">
                        <p>{{ item.discription | slice:":120" }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- owesome clients -->
<div id="contact">
    <div class="container">
        <div class="flexbox">
            <div class="info">
                <div class="contact-item">
                    <div class="contact-icon">
                        <i class="lni lni-phone"></i>
                    </div>
                    <div class="contact-content">
                        <h4>Contact</h4>
                        <p>{{ contact.number }}</p>
                        <p>{{ contact.email }}</p>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="contact-icon">
                        <i class="lni lni-map-marker"></i>
                    </div>
                    <div class="contact-content">
                        <h4>Address</h4>
                        <p>{{ address.address }}</p>
                        <p>{{ address.country }}</p>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="contact-icon">
                        <i class="lni lni-alarm-clock"></i>
                    </div>
                    <div class="contact-content">
                        <h4>Schedule</h4>
                        <p>{{ schedule.days }}</p>
                        <p>{{ schedule.time }}</p>
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="contact-form-header">
                    <div class="header">
                        <div class="section-title text-center">
                            <span> Get in Touch </span>
                            <h2>
                                Ready to Get Started
                            </h2>
                            <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus
                                quiblanditiis praesentium
                            </p>
                        </div>
                    </div>
                    <form action="{% url 'main:connect-me-view' %}" class="contact-form" method="get">
                        <div class="main-form">
                            <input type="text" name="name" id="name" placeholder="Name" required="">
                            <input type="email" name="email" id="email" placeholder="Email" required="">
                            <input type="text" name="phone" id="phone" placeholder="Phone" required="">
                            <input type="text" name="subject" id="email" placeholder="Subject" required="">
                            <textarea name="message" id="message" placeholder="Type Message" rows="5"></textarea>
                        </div>
                        <div class="button">
                            <button type="submit" class="btn primary-btn rounded-full">
                                Send Message
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="contact__map">
        <div class="gmap_canvas">
            <iframe width="100%" height="500" id="gmap_canvas"
                src="https://maps.google.com/maps?q=Silicon%20Valley,%20CA&t=&z=11&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
        </div>
    </div>
</div>
{% endblock main %}

{% block scripts %}
<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/playVideo.js' %}"></script>
<script src="{% static 'js/testimonialSwiper.js' %}"></script>
{% endblock scripts %}