{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block main %}
<div id="hero">
    <div class="container">
        <div class="flexbox">
            <div class="text">
                <h1>Corporate & Business Site Template By Ayro UI.</h1>

                <p>We are a digital agency that helps brands to achieve their business outcomes. We see technology
                    as a tool to create amazing things.</p>
                <div class="buttons">
                    <a class="btn" type="bottun" href="#">get started</a>
                    <a class="play" href="#">
                        <img src="{% static 'image/play.svg' %}" alt="play" />
                        <span>watch intro</span>
                    </a>
                </div>
            </div>
            <div class="image">
                <img src="{% static 'image/hero-image.jpg' %}" alt="hero image" />
            </div>
        </div>
    </div>
</div>
<div id="about-area">
    <div class="container">
        <div class="flexbox">
            <div class="image">
                <img src="{% static 'image/about.jpg' %}" alt="about us" />
            </div>
            <div class="text-area">
                <h6>MY STORY</h6>
                <h2>Our team comes with the experience and knowledge</h2>
                <div class="about-tabs">
                    <div class="nav">
                        <div class="nav-tabs">
                            <a type="button" class="nav-btn active" onclick="showTab(event, 'nav-who')">who I am</a>
                            <a type="button" class="nav-btn" onclick="showTab(event, 'nav-vision')">my vision</a>
                            <a type="button" class="nav-btn" onclick="showTab(event, 'nav-history')">my history</a>
                        </div>
                    </div>
                    <div class="paragraph about-tabs__content" id="nav-who">
                        <p>Text 1 It is a long established fact that a reader will be distracted by the readable content
                            of
                            a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, look like readable English.</p>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have in
                            some form, by injected humour.</p>
                    </div>
                    <div class="paragraph about-tabs__content" id="nav-vision">
                        <p>Text 2 It is a long established fact that a reader will be distracted by the readable content
                            of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, look like readable English.</p>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have in some
                            form, by injected humour.</p>
                    </div>
                    <div class="paragraph about-tabs__content" id="nav-history">
                        <p>Text 3 It is a long established fact that a reader will be distracted by the readable content
                            of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, look like readable English.</p>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have in some
                            form, by injected humour.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="services">
    <div class="container">
        <div class="flexbox">
            <div class="title">
                <h6>Services</h6>
                <h2>Our Best Services</h2>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form.
                </p>
            </div>
            <div class="services-card">
                <div class="card">
                    <div class="icone">
                        <i class="lni lni-capsule"></i>
                    </div>
                    <div class="content">
                        <h4>Refreshing Design</h4>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt labor
                            dolore magna.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="icone">
                        <i class="lni lni-bootstrap"></i>
                    </div>
                    <div class="content">
                        <h4>Solid Bootstrap 5</h4>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt labor
                            dolore magna.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="icone">
                        <i class="lni lni-shortcode"></i>
                    </div>
                    <div class="content">
                        <h4>100+ Components</h4>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt labor
                            dolore magna.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="icone">
                        <i class="lni lni-dashboard"></i>
                    </div>
                    <div class="content">
                        <h4>Speed Optimized</h4>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt labor
                            dolore magna.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="icone">
                        <i class="lni lni-layers"></i>
                    </div>
                    <div class="content">
                        <h4>Fully Customizable</h4>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt labor
                            dolore magna.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="icone">
                        <i class="lni lni-reload"></i>
                    </div>
                    <div class="content">
                        <h4>Regular Updates</h4>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt labor
                            dolore magna.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="video-area">
    <div class="container">
        <div class="flexbox">
            <div class="title">
                <h6>Our Intro Video</h6>
                <h2>Watch Our Promo Video</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form.</p>
            </div>
            <div class="video">
                <img src="{% static 'image/video-bg.png' %}" alt="vidwo">
                <div class="play-btn">
                    <i class="lni lni-play"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="portfolio">
    <div class="container">
        <div class="flexbox">
            <div class="title">
                <h6>Our Portfolio</h6>
                <h2>Our Recent Works</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form.</p>
            </div>
            <div class="content">
                <div class="row">
                    <button class="active">all work</button>
                    <button>branding</button>
                    <button>marketing</button>
                    <button>planing</button>
                    <button>research</button>
                </div>
                <div class="card-area">
                    <div class="card">
                        <img src="{% static 'image/pf1.jpg' %}" alt="card" />
                        <div class="withe-board">
                            <div class="portfolio-icone">
                                <div class="zoom">
                                    <i class="lni lni-zoom-in"></i>
                                </div>
                                <div class="copy-link">
                                    <i class="lni lni-link"></i>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">Graphics Design</a></h4>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>
                    <div class="card">
                        <img src="{% static 'image/pf2.jpg' %}" alt="card" />
                        <div class="withe-board">
                            <div class="portfolio-icone">
                                <div class="zoom">
                                    <i class="lni lni-zoom-in"></i>
                                </div>
                                <div class="copy-link">
                                    <i class="lni lni-link"></i>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">web development</a></h4>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>
                    <div class="card">
                        <img src="{% static 'image/pf3.jpg' %}" alt="card" />
                        <div class="withe-board">
                            <div class="portfolio-icone">
                                <div class="zoom">
                                    <i class="lni lni-zoom-in"></i>
                                </div>
                                <div class="copy-link">
                                    <i class="lni lni-link"></i>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">App Development</a></h4>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>
                    <div class="card">
                        <img src="{% static 'image/pf4.jpg' %}" alt="card" />
                        <div class="withe-board">
                            <div class="portfolio-icone">
                                <div class="zoom">
                                    <i class="lni lni-zoom-in"></i>
                                </div>
                                <div class="copy-link">
                                    <i class="lni lni-link"></i>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">Digital Marketing</a></h4>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>
                    <div class="card">
                        <img src="{% static 'image/pf5.jpg' %}" alt="card" />
                        <div class="withe-board">
                            <div class="portfolio-icone">
                                <div class="zoom">
                                    <i class="lni lni-zoom-in"></i>
                                </div>
                                <div class="copy-link">
                                    <i class="lni lni-link"></i>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">SEO Services</a></h4>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>
                    <div class="card">
                        <img src="{% static 'image/pf6.jpg' %}" alt="card" />
                        <div class="withe-board">
                            <div class="portfolio-icone">
                                <div class="zoom">
                                    <i class="lni lni-zoom-in"></i>
                                </div>
                                <div class="copy-link">
                                    <i class="lni lni-link"></i>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">Product Design</a></h4>
                        <p>Short description for the ones who look for something new. Awesome!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment 'pricing' %}
<div id="pricing">
    <div class="container">
        <div class="title">
            <h6>Pricing</h6>
            <h2>Pricing & Plans</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                in some form.</p>
        </div>
        <div class="plans">
            <div class="card">
                <div class="title">Starter</div>
                <div class="detail">Lorem Ipsum is simply dummy text of the printing and industry.</div>
                <div class="price"><span>$</span>0<span>/mo</span></div>
                <div class="btn">start free trial</div>
                <div class="list-detail">
                    <ul>
                        <li><i class="lni lni-checkmark-circle"></i>Cras justo odio.</li>
                        <li><i class="lni lni-checkmark-circle"></i>Dapibus ac facilisis in.</li>
                        <li><i class="lni lni-checkmark-circle"></i>Morbi leo risus.</li>
                        <li><i class="lni lni-checkmark-circle"></i>Excepteur sint occaecat velit.</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="title">Starter</div>
                <div class="detail">Lorem Ipsum is simply dummy text of the printing and industry.</div>
                <div class="price"><span>$</span>99<span>/mo</span></div>
                <div class="btn">start free trial</div>
                <div class="list-detail">
                    <ul>
                        <li><i class="lni lni-checkmark-circle"></i>Cras justo odio.</li>
                        <li><i class="lni lni-checkmark-circle"></i>Dapibus ac facilisis in.</li>
                        <li><i class="lni lni-checkmark-circle"></i>Morbi leo risus.</li>
                        <li><i class="lni lni-checkmark-circle"></i>Excepteur sint occaecat velit.</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="title">Starter</div>
                <div class="detail">Lorem Ipsum is simply dummy text of the printing and industry.</div>
                <div class="price"><span>$</span>150<span>/mo</span>o</div>
                <div class="btn">start free trial</div>
                <div class="list-detail">
                    <ul>
                        <ul>
                            <li><i class="lni lni-checkmark-circle"></i>Cras justo odio.</li>
                            <li><i class="lni lni-checkmark-circle"></i>Dapibus ac facilisis in.</li>
                            <li><i class="lni lni-checkmark-circle"></i>Morbi leo risus.</li>
                            <li><i class="lni lni-checkmark-circle"></i>Excepteur sint occaecat velit.</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}
{% comment 'team' %}
<div id="team">
    <div class="container">
        <div class="flexbox">
            <div class="title">
                <h6>Our Team</h6>
                <h2>Our Creative Team</h2>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form.
                </p>
            </div>
            <div class="team-group">
                <div class="team-member">
                    <div class="team-member__image">
                        <img src="{% static 'image/team-1.jpg' %}" alt="team member" />
                    </div>
                    <div class="team-member__content">
                        <div class="social-links">
                            <a href="#"><i class="lni lni-facebook-filled"></i></a>
                            <a href="#"><i class="lni lni-twitter-original"></i></a>
                            <a href="#"><i class="lni lni-linkedin-original"></i></a>
                            <a href="#"><i class="lni lni-pinterest"></i></a>
                        </div>
                        <h4>Jeffery Riley</h4>
                        <span>Art Director</span>
                    </div>
                </div>
                <div class="team-member">
                    <div class="team-member__image">
                        <img src="{% static 'image/team-2.jpg' %}" alt="team member" />
                    </div>
                    <div class="team-member__content">
                        <div class="social-links">
                            <a href="#"><i class="lni lni-facebook-filled"></i></a>
                            <a href="#"><i class="lni lni-twitter-original"></i></a>
                            <a href="#"><i class="lni lni-linkedin-original"></i></a>
                            <a href="#"><i class="lni lni-pinterest"></i></a>
                        </div>
                        <h4>Riley Beata</h4>
                        <span>Web Developer</span>
                    </div>
                </div>
                <div class="team-member">
                    <div class="team-member__image">
                        <img src="{% static 'image/team-3.jpg' %}" alt="team member" />
                    </div>
                    <div class="team-member__content">
                        <div class="social-links">
                            <a href="#"><i class="lni lni-facebook-filled"></i></a>
                            <a href="#"><i class="lni lni-twitter-original"></i></a>
                            <a href="#"><i class="lni lni-linkedin-original"></i></a>
                            <a href="#"><i class="lni lni-pinterest"></i></a>
                        </div>
                        <h4>Mark Alone</h4>
                        <span>UX Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}

<div id="call-to-action">
    <div class="container-fluid">
        <div class="call-to-action__title">
            <h2>We love to make perfect solutions<br /> for your business</h2>
        </div>
        <div class="call-to-action__subtitle">
            <p>Why I say old chap that is, spiffing off his nut cor blimey guvnords geeza
                bloke knees up bobby, sloshed arse William cack Richard. Bloke fanny around chesed of bum bag old lost
                the pilot say there spiffing off his nut.
            </p>
        </div>
        <div class="call-to-action__button">
            <a href="#" type="button">get started</a>
        </div>
    </div>
</div>
<div id="testimonials">
    <div class="container">
        <div class="title">
            <h6>Customer Reviews</h6>
            <h2>Our Testimonials</h2>
            <p>TThere are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form.</p>
        </div>
        <div class="reviews">
            <div class="card">
                <p>On the other hand denoun with righteous and disliks men who are beguiled demorae momentc blinded by
                    desire that can</p>
                <div class="person">
                    <div class="persion__image">
                        <img src="{% static 'image/author-1.jpg' %}" alt="author 1">
                    </div>
                    <p>Naimur Rahman</p>
                    <span>Web Entrepreneur</span>
                </div>
            </div>
            <div class="card">
                <p>On the other hand denoun with righteous and disliks men who are beguiled demorae momentc blinded by
                    desire that can</p>
                <div class="person">
                    <div class="persion__image">
                        <img src="{% static 'image/author-2.jpg' %}" alt="author 1">
                    </div>
                    <p>Naimur Rahman</p>
                    <span>Web Entrepreneur</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="blog-news">
    <div class="container">
        <div class="flexbox">
            <div class="title">
                <h6>latest news</h6>
                <h2>Latest News & Blog</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form.</p>
            </div>
            <div class="post">
                <div class="post-item">
                    <div class="post-item__image">
                        <img src="{% static 'image/blog-1.jpg' %}" alt="news" />
                    </div>
                    <div class="post-item__title">
                        <h4>
                            <a href="#">Make your team a Design driven company</a>
                        </h4>
                    </div>
                    <div class="post-item__description">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard.</p>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-item__image">
                        <img src="{% static 'image/blog-2.jpg' %}" alt="news" />
                    </div>
                    <div class="post-item__title">
                        <h4>
                            <a href="#">Make your team a Design driven company</a>
                        </h4>
                    </div>
                    <div class="post-item__description">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard.</p>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-item__image">
                        <img src="{% static 'image/blog-3.jpg' %}" alt="news" />
                    </div>
                    <div class="post-item__title">
                        <h4>
                            <a href="#">Make your team a Design driven company</a>
                        </h4>
                    </div>
                    <div class="post-item__description">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- owesome clients -->
<div id="contact">
    <div class="container">
        <div class="flexbox">
            <div class="info">
                <div class="contact-item">
                    <div class="contact-icon">
                        <i class="lni lni-phone"></i>
                    </div>
                    <div class="contact-content">
                        <h4>Contact</h4>
                        <p>{{ contact.number }}</p>
                        <p>{{ contact.email }}</p>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="contact-icon">
                        <i class="lni lni-map-marker"></i>
                    </div>
                    <div class="contact-content">
                        <h4>Address</h4>
                        <p>{{ address.address }}</p>
                        <p>{{ address.country }}</p>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="contact-icon">
                        <i class="lni lni-alarm-clock"></i>
                    </div>
                    <div class="contact-content">
                        <h4>Schedule</h4>
                        <p>{{ schedule.days }}</p>
                        <p>{{ schedule.time }}</p>
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="contact-form-header">
                    <div class="header">
                        <div class="section-title text-center">
                            <span> Get in Touch </span>
                            <h2>
                                Ready to Get Started
                            </h2>
                            <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus
                                quiblanditiis praesentium
                            </p>
                        </div>
                    </div>
                    <form action="#" class="contact-form">
                        <div class="main-form">
                            <input type="text" name="name" id="name" placeholder="Name" required="">
                            <input type="email" name="email" id="email" placeholder="Email" required="">
                            <input type="text" name="phone" id="phone" placeholder="Phone" required="">
                            <input type="text" name="subject" id="email" placeholder="Subject" required="">
                            <textarea name="message" id="message" placeholder="Type Message" rows="5"></textarea>
                        </div>
                        <div class="button">
                            <button type="submit" class="btn primary-btn rounded-full">
                                Send Message
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="contact__map">
        <div class="gmap_canvas">
            <iframe width="100%" height="500" id="gmap_canvas"
                src="https://maps.google.com/maps?q=Silicon%20Valley,%20CA&t=&z=11&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
        </div>
    </div>
</div>
{% endblock main %}

{% block scripts %}
<script src="{% static 'js/tabs.js' %}"></script>
{% endblock scripts %}