{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iam Benyamin</title>

    <!-- load icones -->
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block style %}{% endblock style %}
</head>

<body>
    <div id="to-top" onclick="goToTop()">
        <img src="{% static 'image/arrow.svg' %}" />
    </div>
    <div id="header">
        <div class="container">
            <div class="flexbox">
                <div class="logo">
                    <a href="https://www.iambenyamin.com/.com">
                        <img src="{% static 'image/logo.png' %}" />
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="{% url 'main:home' %}" onclick="goToTop()" class="active">Home</a></li>
                        {% if request.get_full_path == '/' %}
                        <li><a onclick="scrollToElement('about-area')">My Story</a></li>
                        <li><a onclick="scrollToElement('services')">Services</a></li>
                        <li><a onclick="scrollToElement('portfolio')">Portfolio</a></li>
                        <li><a onclick="scrollToElement('testimonials')">Testimonials</a></li>
                        <li><a onclick="scrollToElement('blog')">Blog</a></li>
                        <li><a onclick="scrollToElement('contact')">Contact</a></li>
                        {% else %}
                        <li><a href="{% url 'blog:list-view' %}" onclick="scrollToElement('blog')">Blog</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="navbar-btn" onclick="toggleSlider()">
                    <i class="lni lni-menu"></i>
                </div>
            </div>
        </div>
    </div>
    <div id="slide" class='toggling'>
        <div class="close-button" onclick="toggleSlider()">
            <i class="lni lni-close"></i>
        </div>
        <div class="logo">
            <a href="https://www.iambenyamin.com/.com">
                <img src="{% static 'image/blue-logo.png' %}" />
            </a>
        </div>
        <div class="description">
            <p>
                Design and development of professional, beautiful and optimized web applications for search engines (SEO)
                with a dedicated code using the latest technologies of the year
            </p>
        </div>
        <div class="quick-links">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="{% url 'main:home' %}" onclick="goToTop()" class="active">Home</a></li>
                <li><a onclick="scrollToElement('about-area')">My Story</a></li>
                <li><a onclick="scrollToElement('services')">Services</a></li>
                <li><a onclick="scrollToElement('portfolio')">Portfolio</a></li>
                <li><a onclick="scrollToElement('testimonials')">Testimonials</a></li>
                <li><a onclick="scrollToElement('blog')">Blog</a></li>
                <li><a onclick="scrollToElement('contact')">Contact</a></li>
            </ul>
        </div>
        <div class="social-links">
            <h3>follow me on</h3>
            <a href="https://www.instagram.com/i4m_benyamin/" target="_blank" ><i class="lni lni-instagram-original"></i></a>
            <a href="https://www.linkedin.com/in/iambenyamin/" target="_blank" ><i class="lni lni-linkedin-original"></i></a>
            <a href="https://www.twitter.com/iam_benyamin/" target="_blank" ><i class="lni lni-twitter-original"></i></a>
            <a href="https://www.t.me/i4m_benyamin/" target="_blank" ><i class="lni lni-telegram-original"></i></a>
        </div>
    </div>
    <div id="overlay" onclick="toggleSlider()"></div>

    {% block main %}{% endblock main %}

    <div id="footer">
        <div class="container">
            <div class="flexbox">
                <div class="copy-write">
                    <div class="logo">
                        <a href="{% url 'main:home' %}">
                            <img src="{% static 'image/blue-logo.png' %}" alt="#" class="img-fluid">
                        </a>
                    </div>
                    <p class="copyright-text">
                        © 2022 Designed and Developed by <span>Benyamin</span></a>
                    </p>
                </div>
                <div class="services">
                    <h5>services</h5>
                    <ul>
                        <li>app Development</li>
                        <li>mentorship</li>
                    </ul>
                </div>
                <div class="social-medias">
                    <h5>social medias</h5>
                    <ul>
                        <li><a href="https://www.instagram.com/i4m_benyamin/" target="_blank" >Instagram</a></li>
                        <li><a href="https://www.linkedin.com/in/iambenyamin/" target="_blank" >Linkedin</a></li>
                        <li><a href="https://www.twitter.com/iam_benyamin/" target="_blank">Twitter</a></li>
                        <li><a href="https://www.t.me/i4m_benyamin/" target="_blank" >Telegram</a></li>
                    </ul>
                </div>
                <div class="subscribe">
                    <h5>subscribe</h5>
                    <p>Subscribe to my blog for the latest updates</p>
                    <form action="#" method="POST" class="subscribe-form" target="_blank">
                        <input name="EMAIL" placeholder="Email address" required="required" type="email">
                        <div class="button">
                            <button class="subscribe-btn">
                                <i class="lni lni-envelope"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/scrollTo.js' %}"></script>
    <script src="{% static 'js/showToTop.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
</body>

</html>